[submodule "ros_ws/src/ros2-gcode-interface"]
	path = ros_ws/src/ros2-gcode-interface
	url = git@github.com:danidask/ros2-gcode-interface.git
[submodule "ros_ws/src/rosbridge_suite"]
	path = ros_ws/src/rosbridge_suite
	url = git@github.com:danidask/rosbridge_suite.git
